@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100%;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}


.login-container {
  background: #fff;
  padding: 40px;
  border: 1px solid #ccc;
  width: 30%;
  height: 85vh;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo {
  margin-bottom: 5px;
}

h1 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  color: #333;
  margin-bottom: 25px;
}

.link-green {
  color: #28a745;
  text-decoration: none;
  font-weight: 500;
  
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-form label {
  margin: 10px 0 5px;
  color: #f7a700;
  font-weight: 500;
  font-size: 14px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 14px;
}

.login-btn {
  margin-top: 20px;
  background: #f7a700;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border: none;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.login-btn a {
  color: white;
  text-decoration: none;
}

.login-btn:hover{
    background: #000000;
    color: #f7a700;
    border-radius: 20px;
}

.terms {
  font-size: 12px;
  margin: 20px 0 10px;
  color: #333;
}

.fb-btn {
  background-color: #2263a4;
  color: white;
  border: none;
  padding: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
}

.fb-btn img {
  width: 20px;
  height: 20px;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
}

.footer img {
  margin-right: -5px;
}

/*Section*/

.sign_up{
    width: 400px;
    height: 80vh;
    margin-left: 10%;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}
