@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}


.login-container {
  background: #fff;
  padding: 40px 30px;
  border: 1px solid #ccc;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo {
  margin-bottom: 5px;
}

h1 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  color: #333;
  margin-bottom: 25px;
}

.link-green {
  color: #28a745;
  text-decoration: none;
  font-weight: 500;
  
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-form label {
  margin: 10px 0 5px;
  color: #f7a700;
  font-weight: 500;
  font-size: 14px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 14px;
}

.login-btn {
  margin-top: 20px;
  background: #f7a700;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border: none;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.login-btn:hover{
    background: #000000;
    color: #f7a700;
    border-radius: 20px;
}

.terms {
  font-size: 12px;
  margin: 20px 0 10px;
  color: #333;
}

.fb-btn {
  background-color: #2263a4;
  color: white;
  border: none;
  padding: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
}

.fb-btn img {
  width: 20px;
  height: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
}

.footer img {
  margin-right: -5px;
}

/*Section*/

.sign_up{
    width: 400px;
    height: 80vh;
    margin-left: 10%;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}

.sign_up_container{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    position: relative;
    
}

.sign_up_top{
    text-align: center;
}


.sign_up_top img{
    margin-top: 5px;
}

.sign_up_top h3{
    font-size: 20px;
    margin: 10px 0;
    font-weight: 600;
}

.sign_up_top p{
    font-weight: 400;
    font-size: 14px;
}

.sign_up_box{
    height: 50%;
}


.sign_up_box label{
    color: #f7a700;
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
    

}

.sign_up_box input{
    height: 35px;
    width: 95%;
    border: 1px solid #aaa;
    margin: 5px;
}

.Btn{
    text-align: center;
    height: 40px;
    width: 97%;
    border: none;
    outline: none;
    background: #f7a700;
    margin-left: 5px;
    margin-top: 10px;
    color: #fff; 
    font-size: 15px;  
    font-weight: 600;
    cursor: pointer;
   
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.Btn:hover{
    background: #000000;
    color: #f7a700;
    border-radius: 20px;
}

.sign_up_buttom{
    text-align: center;
}

.sign_up_buttom p{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.sign_up_buttom img{
    margin-top: 30px;
}
































/*Bakery*/




/*Frozen*/
.frozen {
    display: flex;
    flex-direction: column;
    width: 1356px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
}

.frozen .text {
    display: flex;
    width: 1246px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.frozen .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.frozen .div {
    position: relative;
    width: fit-content;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #f9a825;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.frozen .div-2 {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    overflow-x: scroll;
}

.frozen .div-2::-webkit-scrollbar {
    width: 0;
    display: none;
}

.frozen .product {
    display: flex;
    width: 300px;
    height: 310px;
    align-items: center;
    gap: 10px;
    position: relative;
}

.frozen .mask-group {
    position: absolute;
    width: 300px;
    height: 310px;
    top: -2px;
    left: 0;
}

.frozen .overlap-wrapper {
    position: relative;
    width: 300px;
    height: 307px;
    border-radius: 20px;
}

.frozen .overlap {
    position: relative;
    height: 129px;
    top: 178px;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
}

.frozen .text-wrapper-2 {
    position: absolute;
    top: 12px;
    left: 22px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.frozen .text-wrapper-3 {
    position: absolute;
    top: 38px;
    left: 22px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #524f4f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.frozen .text-wrapper-4 {
    top: 80px;
    left: 17px;
    color: #000000;
    font-size: 18px;
    position: absolute;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frozen .overlap-group {
    position: absolute;
    width: 40px;
    height: 18px;
    top: 84px;
    left: 78px;
}

.frozen .text-wrapper-5 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #524f4f;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frozen .line {
    position: absolute;
    width: 38px;
    height: 1px;
    top: 10px;
    left: 2px;
    object-fit: cover;
}

.frozen .button {
    top: 74px;
    left: 244px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #63c067;
    border-radius: 20px;
}

.frozen .overlap-group-2 {
    position: relative;
    width: 23px;
    height: 23px;
    top: 9px;
    left: 8px;
}

.frozen .rectangle {
    position: absolute;
    width: 4px;
    height: 23px;
    top: 0;
    left: 10px;
    background-color: #ffffff;
    border-radius: 1px;
}

.frozen .rectangle-2 {
    transform: rotate(-90deg);
    position: absolute;
    width: 4px;
    height: 23px;
    top: 0;
    left: 10px;
    background-color: #ffffff;
    border-radius: 1px;
}

.frozen .overlap-2 {
    position: relative;
    height: 129px;
    top: 180px;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
}

.frozen .text-wrapper-6 {
    position: absolute;
    top: 10px;
    left: 22px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.frozen .text-wrapper-7 {
    position: absolute;
    top: 78px;
    left: 17px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frozen .overlap-3 {
    width: 39px;
    left: 80px;
    position: absolute;
    height: 18px;
    top: 84px;
}

.frozen .img {
    position: absolute;
    width: 38px;
    height: 1px;
    top: 10px;
    left: 0;
    object-fit: cover;
}

.frozen .overlap-group-wrapper {
    top: 74px;
    left: 230px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #63c067;
    border-radius: 20px;
}

.frozen .text-wrapper-8 {
    position: absolute;
    top: 80px;
    left: 22px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.frozen .overlap-4 {
    width: 38px;
    left: 79px;
    position: absolute;
    height: 18px;
    top: 84px;
}

.frozen .div-wrapper {
    top: 75px;
    left: 246px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #63c067;
    border-radius: 20px;
}

.frozen .overlap-5 {
    width: 40px;
    left: 82px;
    position: absolute;
    height: 18px;
    top: 84px;
}

.frozen .button-2 {
    top: 75px;
    left: 244px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #63c067;
    border-radius: 20px;
}



/*Fruits*/
.fruits {
    display: flex;
    flex-direction: column;
    width: 1356px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
}

.fruits .text {
    display: flex;
    width: 1246px;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.fruits .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.fruits .div {
    position: relative;
    width: fit-content;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #f9a825;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.fruits .div-2 {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    overflow-x: scroll;
}

.fruits .div-2::-webkit-scrollbar {
    width: 0;
    display: none;
}

.fruits .product {
    display: flex;
    width: 300px;
    height: 310px;
    align-items: center;
    gap: 10px;
    position: relative;
}

.fruits .mask-group {
    position: absolute;
    width: 300px;
    height: 310px;
    top: -2px;
    left: 0;
}

.fruits .overlap-wrapper {
    position: relative;
    width: 300px;
    height: 307px;
    border-radius: 20px;
}

.fruits .overlap {
    position: relative;
    height: 129px;
    top: 178px;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
}

.fruits .text-wrapper-2 {
    position: absolute;
    top: 12px;
    left: 22px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.fruits .text-wrapper-3 {
    position: absolute;
    top: 38px;
    left: 22px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #524f4f;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.fruits .text-wrapper-4 {
    position: absolute;
    top: 80px;
    left: 22px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.fruits .overlap-group {
    position: absolute;
    width: 38px;
    height: 18px;
    top: 84px;
    left: 74px;
}

.fruits .text-wrapper-5 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #524f4f;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.fruits .line {
    position: absolute;
    width: 38px;
    height: 1px;
    top: 10px;
    left: 0;
    object-fit: cover;
}

.fruits .button {
    top: 74px;
    left: 244px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #63c067;
    border-radius: 20px;
}

.fruits .overlap-group-2 {
    position: relative;
    width: 23px;
    height: 23px;
    top: 9px;
    left: 8px;
}

.fruits .rectangle {
    position: absolute;
    width: 4px;
    height: 23px;
    top: 0;
    left: 10px;
    background-color: #ffffff;
    border-radius: 1px;
}

.fruits .rectangle-2 {
    transform: rotate(-90deg);
    position: absolute;
    width: 4px;
    height: 23px;
    top: 0;
    left: 10px;
    background-color: #ffffff;
    border-radius: 1px;
}

.fruits .overlap-2 {
    position: relative;
    height: 129px;
    top: 180px;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
}

.fruits .text-wrapper-6 {
    position: absolute;
    top: 10px;
    left: 22px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.fruits .text-wrapper-7 {
    position: absolute;
    top: 78px;
    left: 22px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.fruits .text-wrapper-8 {
    position: absolute;
    top: 0;
    left: 2px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #524f4f;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.fruits .overlap-group-wrapper {
    top: 74px;
    left: 230px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #63c067;
    border-radius: 20px;
}

.fruits .text-wrapper-9 {
    position: absolute;
    top: 80px;
    left: 22px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.fruits .overlap-3 {
    width: 38px;
    left: 79px;
    position: absolute;
    height: 18px;
    top: 84px;
}

.fruits .div-wrapper {
    top: 75px;
    left: 246px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #63c067;
    border-radius: 20px;
}

.fruits .overlap-4 {
    width: 40px;
    left: 82px;
    position: absolute;
    height: 18px;
    top: 84px;
}

.fruits .img {
    position: absolute;
    width: 38px;
    height: 1px;
    top: 10px;
    left: 2px;
    object-fit: cover;
}

.fruits .button-2 {
    top: 75px;
    left: 244px;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #63c067;
    border-radius: 20px;
}





/*Availability*/
.delivery {
    display: flex;
    flex-direction: column;
    height: 309px;
    align-items: flex-start;
    gap: 6px;
    padding: 84px 57px;
    position: relative;
}

.delivery .group-wrapper {
    position: absolute;
    width: 1272px;
    height: 309px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 20px;
}

.delivery .group {
    height: 309px;
    background-image: url(./img/mask-group.png);
    background-size: 100% 100%;
}

.delivery .frame {
    display: inline-flex;
    align-items: center;
    gap: 19px;
    position: relative;
    top: 202px;
    left: 57px;
}

.delivery .search-bar {
    position: relative;
    width: 500px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
}

.delivery .text-wrapper {
    position: absolute;
    width: 374px;
    top: 12px;
    left: 16px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #767676;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.delivery .div-wrapper {
    position: relative;
    width: 178px;
    height: 50px;
    background-color: #00a108;
    border-radius: 5px;
}

.delivery .div {
    position: absolute;
    width: 159px;
    top: 12px;
    left: 10px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.delivery .p {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.delivery .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

/*Support Chat*/
.support-chat {
    display: flex;
    flex-direction: column;
    height: 112px;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    position: relative;
    background-color: #f9a825;
}

.support-chat .group {
    position: relative;
    width: 72.69px;
    height: 66px;
    margin-right: -0.69px;
}

/*Shop by categories*/
.shop-by-categories {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 9px 930px;
    position: relative;
}

.shop-by-categories .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.shop-by-categories .div {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #f9a825;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.shop-by-categories .categories {
    display: flex;
    width: 1272px;
    align-items: center;
    gap: 24px;
    position: relative;
}

.shop-by-categories .div-2 {
    display: flex;
    width: 300px;
    height: 143px;
    align-items: center;
    gap: 10px;
    padding: 55px 128px;
    position: relative;
}

.shop-by-categories .mask-group {
    position: absolute;
    width: 300px;
    height: 143px;
    top: 0;
    left: 0;
}

.shop-by-categories .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    margin-right: -43.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.shop-by-categories .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    margin-right: -18.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.shop-by-categories .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    margin-right: -30.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.shop-by-categories .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    margin-right: -16.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}


/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    height: 299px;
    align-items: flex-start;
    gap: 10px;
    padding: 28px 66px;
    position: relative;
    background-color: #ffffff;
}

.footer .group {
    position: relative;
    width: 1162px;
    height: 204px;
}

.footer .logo {
    display: flex;
    flex-direction: column;
    width: 265px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.footer .artboard {
    position: relative;
    width: 215px;
    height: 51px;
    object-fit: cover;
}

.footer .text-wrapper {
    position: absolute;
    top: 71px;
    left: 26px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #333333;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.footer .shop {
    display: flex;
    flex-direction: column;
    width: 197px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 19px;
    left: 473px;
}

.footer .div {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.footer .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #524f4f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.footer .help {
    display: flex;
    flex-direction: column;
    width: 197px;
    align-items: flex-start;
    gap: 5px;
    position: absolute;
    top: 19px;
    left: 718px;
}

.footer .subscribe {
    display: flex;
    flex-direction: column;
    width: 197px;
    align-items: flex-start;
    gap: 6px;
    position: absolute;
    top: 19px;
    left: 963px;
}

.footer .p {
    position: relative;
    width: 314px;
    margin-right: -117.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #524f4f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.footer .email-input {
    position: relative;
    width: 324px;
    height: 40px;
    margin-right: -127.00px;
    background-color: #ece8e8e6;
    border-radius: 10px;
}

.footer .text-wrapper-3 {
    position: absolute;
    width: 313px;
    top: 9px;
    left: 11px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #767676;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.footer .subcribe {
    display: flex;
    width: 324px;
    height: 40px;
    align-items: center;
    gap: 19px;
    position: relative;
    margin-right: -127.00px;
    border-radius: 10px;
}

.footer .search-bar {
    position: relative;
    width: 324px;
    height: 40px;
    background-color: #00a10894;
    border-radius: 10px;
}

.footer .text-wrapper-4 {
    position: absolute;
    width: 85px;
    top: 10px;
    left: 119px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}


/*Delivery*/
.cart {
    background-color: #f6f1f1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.cart .div {
    background-color: #f6f1f1;
    overflow: hidden;
    width: 1440px;
    height: 2624px;
    position: relative;
}

.cart .footer {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 299px;
    align-items: flex-start;
    gap: 10px;
    padding: 28px 66px;
    position: absolute;
    top: 2328px;
    left: 0;
    background-color: #ffffff;
}

.cart .group {
    position: relative;
    width: 1162px;
    height: 204px;
}

.cart .logo {
    left: 0;
    display: flex;
    flex-direction: column;
    width: 265px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
}

.cart .artboard {
    position: relative;
    width: 215px;
    height: 51px;
    object-fit: cover;
}

.cart .text-wrapper {
    position: absolute;
    top: 71px;
    left: 26px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #333333;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .shop {
    display: flex;
    flex-direction: column;
    width: 197px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 19px;
    left: 473px;
}

.cart .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #524f4f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .help {
    display: flex;
    flex-direction: column;
    width: 197px;
    align-items: flex-start;
    gap: 5px;
    position: absolute;
    top: 19px;
    left: 718px;
}

.cart .subscribe {
    display: flex;
    flex-direction: column;
    width: 197px;
    align-items: flex-start;
    gap: 6px;
    position: absolute;
    top: 19px;
    left: 963px;
}

.cart .p {
    position: relative;
    width: 314px;
    margin-right: -117.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #524f4f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .email-input {
    position: relative;
    width: 324px;
    height: 40px;
    margin-right: -127.00px;
    background-color: #ece8e8e6;
    border-radius: 10px;
}

.cart .text-wrapper-4 {
    position: absolute;
    width: 313px;
    top: 9px;
    left: 11px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #767676;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .subcribe {
    display: flex;
    width: 324px;
    height: 40px;
    align-items: center;
    gap: 19px;
    position: relative;
    margin-right: -127.00px;
    border-radius: 10px;
}

.cart .search-bar {
    position: relative;
    width: 324px;
    height: 40px;
    background-color: #00a10894;
    border-radius: 10px;
}

.cart .text-wrapper-5 {
    position: absolute;
    width: 85px;
    top: 10px;
    left: 119px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .checkout {
    display: flex;
    width: 1277px;
    height: 84px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 21px 432px;
    position: absolute;
    top: 2197px;
    left: 82px;
    background-color: #63c067;
    border-radius: 20px;
}

.cart .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .order-summary {
    display: flex;
    flex-direction: column;
    width: 1277px;
    height: 310px;
    align-items: flex-start;
    gap: 17px;
    padding: 31px 42px;
    position: absolute;
    top: 1840px;
    left: 80px;
    background-color: #fcfcfc;
    border-radius: 25px;
}

.cart .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .subtotal {
    display: flex;
    width: 1161px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.cart .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #524f4f;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .text-wrapper-10 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #524f4f;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .line {
    position: relative;
    width: 1189.01px;
    height: 6.92px;
}

.cart .total {
    display: flex;
    width: 1150px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.cart .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #020202;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .promo {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 156px;
    align-items: flex-start;
    gap: 5px;
    padding: 19px 60px;
    position: absolute;
    top: 1653px;
    left: 80px;
    background-color: #fcfcfc;
    border-radius: 20px;
}

.cart .frame {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    position: relative;
}

.cart .overlap-group-wrapper {
    position: relative;
    width: 990px;
    height: 67px;
}

.cart .overlap-group {
    position: relative;
    width: 988px;
    height: 67px;
    background-color: #f3f3f3;
    border-radius: 25px 0px 0px 25px;
}

.cart .text-wrapper-12 {
    position: absolute;
    top: 13px;
    left: 34px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #292929;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .div-wrapper {
    display: flex;
    width: 164px;
    height: 67px;
    justify-content: center;
    gap: 10px;
    padding: 9px 37px;
    background-color: #63c067;
    border-radius: 0px 20px 20px 0px;
    align-items: center;
    position: relative;
}

.cart .text-wrapper-13 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .delivery-options {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 550px;
    align-items: center;
    gap: 34px;
    padding: 30px 25px;
    position: absolute;
    top: 1067px;
    left: 80px;
    background-color: #fcfcfc;
    border-radius: 30px;
}

.cart .div-2 {
    display: flex;
    width: 1159px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.cart .group-2 {
    position: relative;
    width: 309px;
    height: 64px;
}

.cart .rectangle {
    position: absolute;
    width: 34px;
    height: 30px;
    top: 10px;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 5px;
}

.cart .group-3 {
    position: absolute;
    width: 256px;
    height: 64px;
    top: 0;
    left: 57px;
}

.cart .overlap-group-2 {
    position: relative;
    width: 252px;
    height: 64px;
}

.cart .text-wrapper-14 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .text-wrapper-15 {
    position: absolute;
    top: 37px;
    left: 1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #524f4f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .text-wrapper-16 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .group-4 {
    position: relative;
    width: 283px;
    height: 64px;
}

.cart .group-5 {
    position: absolute;
    width: 230px;
    height: 64px;
    top: 0;
    left: 57px;
}

.cart .overlap-group-3 {
    position: relative;
    width: 226px;
    height: 64px;
}

.cart .img {
    position: relative;
    width: 1229.02px;
    height: 10.2px;
}

.cart .group-6 {
    position: relative;
    width: 311px;
    height: 71px;
}

.cart .text-wrapper-17 {
    position: absolute;
    top: 44px;
    left: 1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .text-wrapper-18 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #63c067;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .group-7 {
    position: relative;
    width: 308px;
    height: 71px;
}

.cart .your-cart {
    display: flex;
    flex-direction: column;
    width: 1277px;
    align-items: center;
    gap: 17px;
    position: absolute;
    top: 142px;
    left: 80px;
}

.cart .div-3 {
    display: flex;
    width: 1204.72px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
}

.cart .text-wrapper-19 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .clear-all {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.cart .vector {
    position: relative;
    width: 19.72px;
    height: 22px;
}

.cart .text-wrapper-20 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #00a108e3;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.cart .div-4 {
    position: relative;
    width: 1277px;
    height: 816px;
    background-color: #ffffff;
    border-radius: 25px;
    background-image: url(./img/mask-group.png);
    background-size: 100% 100%;
}

.cart .header {
    position: absolute;
    width: 1440px;
    height: 100px;
    top: 0;
    left: 5px;
    background-color: #ffffff;
}

.cart .group-8 {
    position: relative;
    width: 1259px;
    height: 71px;
    top: 18px;
    left: 93px;
}

.cart .overlap-group-4 {
    position: absolute;
    width: 283px;
    height: 71px;
    top: 0;
    left: 0;
}

.cart .artboard-wrapper {
    left: 18px;
    display: flex;
    flex-direction: column;
    width: 265px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
}

.cart .maki-arrow {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 21px;
    left: 0;
    transform: rotate(180deg);
}

.cart .vector-2 {
    position: absolute;
    width: 23px;
    height: 18px;
    top: 5px;
    left: 5px;
    transform: rotate(-180deg);
}

.cart .nav {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 6px;
    left: 1209px;
}

.cart .account-svgrepo-com-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #d9d9d9;
    border-radius: 25px;
}

.cart .account-svgrepo-com {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 12px;
    left: 12px;
}

